---
---

@import "{{ site.theme }}";

body {
  h1 {
    color: #707070;
    text-align: center;
  }
  h1 span {
    color: #505050;
  }
  
  a,
  a:hover,
  a:link,
  a:visited {
    color: #707070;
    text-decoration: underline;
  }
  
  section p {
    text-align: justify;
    text-justify: inter-word;
  }
  section b, strong {
    color: #707070;
  }
  
  blockquote {
    font-style: normal;
    font-size: 1.1em;
  }
  blockquote p {
    text-align: left !important; 
  }
  
  header img {
    border-radius: 50%;
    margin-bottom: 1em;
  }
  header p.bio {
    color: #505050;
    text-align: center;
  }
  header p.name {
    color: #707070;
    text-align: center;
    margin-top: -1.1em;
  }
  
  code {
    font-size: 0.9em;
  }
  
  .pf {
    font-family: serif;
    font-size: 1.1em;
  }
  .pf a:hover {
    color: #505050;
  }
  .mp a:hover {
    color: #505050;
  }
  
  #social-media {
    text-align: center;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
  }
  #social-media a:hover {
    color: #505050;
  }
}

@media print, screen and (max-width: 960px) {
  section {
    border: none;
    border-top:1px solid #e5e5e5;
  }
}
